<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure IoT Hub Web Client</title>
    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lib/paho-mqtt.js"></script>
    <link rel="stylesheet" href="s.css">
</head>

<body>
    <h1>Azure IoT Hub Web Client</h1>
    <div id="app">
        <form v-show="!connectionInfo.connected">
            <h3>Connection Details</h3>
            <p>
                <label for="inputHostName">Hub Name</label>
                <input type="text" id="inputHostName" v-model='connectionInfo.hubName' />
            </p>

            <p>
                <label for="inputDeviceId">DeviceId</label>
                <input type="text" id="inputDeviceId" v-model='connectionInfo.deviceId'>
            </p>
            <p>
                <label for="inputDeviceKey">DeviceKey</label>
                <input type="text" id="inputDeviceKey" size="45" v-model='connectionInfo.deviceKey'>
            </p>
            <p>
                <label for="inputModelId">Model Id</label>
                <input type="text" id="inputModelId" size="45" v-model='connectionInfo.modelId'>
            </p>

            <div class="right">
                <label for="chkSaveConfig">Save Config</label>
                <input type="checkbox" v-model="saveConfig">
                <label for="btnConnect">{{connectionInfo.status}}</label>
                <input type="button" id="btnConnect" value="Connect" @click="connect()">
            </div>
            <p>
                <pre>{{ connectionString }}</pre>
            </p>
        </form>

        <div v-show="connectionInfo.connected">
            device <strong>{{ connectionInfo.deviceId }}</strong> connected to hub <strong>{{ connectionInfo.hubName }}</strong>
        </div>

        <div v-show="connectionInfo.connected">
            <h3>Device Twin</h3>
            <button @click="readTwin()">Refresh Twin</button>
            <div>
                <h4>Reported Properties</h4>
                <pre>{{ reportedJson | pretty }}</pre>
                <div>
                    <textarea cols="50" rows="5" v-model="reportedPropJson"></textarea>
                </div>
                <button @click="reportProp()">Report Prop</button>
            </div>

            <div>
                <h4>Desired Properties</h4>
                <pre>{{ desiredJson | pretty }}</pre>
            </div>

            <div>
                <h4>Telemetry</h4>
                <div>
                    <textarea cols="50" rows="3" v-model="telemetryJson"></textarea>
                </div>
                <button @click="startTelemetry()" v-show="!isTelemetryRunning">Start Telemetry</button>
                <button @click="stopTelemetry()" v-show="isTelemetryRunning">Stop Telemetry</button>

                <span>Messages sent {{ sentMessages }}</span>
            </div>
            <div>
                <h4>Commands</h4>
                <ul v-for="c in commands">
                    <strong>{{ c.method }}</strong>
                    <pre>{{ c.payload }}</pre>
                    <button @click="cmdResponse(c.method)">Response OK</button>
                </ul>
            </div>
            
        </div>
    </div>
    <script src="index.js" type="module"></script>
    <div class="footer">
        <i>
            Using <a href="https://github.com/eclipse/paho.mqtt.javascript">paho.mqtt.javascript</a> to communicate with Azure IoT hub. 
            <a href="http://github.com/ridomin/iothub-webclient">source</a> by <a href="https://twitter.com/ridomin">ridomin</a>
        </i>
    </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66818411-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-66818411-7');
</script>
</body>
</html>
